<app-nav-ventes></app-nav-ventes>

<div class="container">
  <h1>Liste des ventes</h1>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Date</th>
        <th>Ref Facture</th>
        <th>Client</th>
        <th>Montant</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let invoice of invoices">
        <td>{{ invoice.dateFacture| date}}</td>
        <td>{{ invoice.referenceFacture}}</td>
        <td><b>{{ invoice.nomClient}}</b></td>
        <td>{{ invoice.montantFacture}}</td>
        <td>
          <a (click)="open(invoice)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
          </a>
          |
          <a (click)="openWarningDelete(invoice)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
          </a>

        </td>

      </tr>
    </tbody>
  </table>
</div>
